<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//testMybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myj.miniapp.mapper.NoticeMapper">
	<resultMap id="notice_map" type="com.myj.miniapp.entity.Notice">
		<id property="id" column="id" jdbcType="BIGINT"></id>
		<result property="createTime" column="create_time" jdbcType="TIMESTAMP"></result>
		<result property="updateTime" column="update_time" jdbcType="TIMESTAMP"></result>
		<result property="openId" column="open_id" jdbcType="VARCHAR"></result>
		<result property="nickName" column="nick_name" jdbcType="VARCHAR"></result>
		<result property="title" column="title" jdbcType="VARCHAR"></result>
		<result property="content" column="content" jdbcType="VARCHAR"></result>
	</resultMap>
	<select id="listNoticeByGroup" resultMap="notice_map" parameterType="java.lang.String">
		select r.* from group_notice_relation r left join notice n on r.notice_id = n.id
		where r.open_group_id = #{openGId} and r.status = 1 and n.status = 1
	</select>

	<insert id="insertNotice" parameterType="com.myj.miniapp.entity.Notice" useGeneratedKeys="true" keyProperty="id">
		insert into notice(create_time, update_time, open_id, nick_name, title, content)
		values(current_time(), current_time(), #{openId}, #{nickName}, #{title}, #{content})
	</insert>

	<select id="getNoticeById" resultMap="notice_map" parameterType="java.lang.Long">
		select * from notice where id = #{id} and status = 1
	</select>

	<insert id="insertNoticeInGroup" parameterType="com.myj.miniapp.entity.NoticeInGroup">
		insert into group_notice_relation(create_time, update_time, open_group_id, notice_id)
		values(current_time(), current_time(), #{openGId}, #{noticeId})
	</insert>

	<select id="listMyCreateNotice" resultMap="notice_map" parameterType="java.lang.String">
		select * from notice where open_id = #{openId} and status = 1
	</select>

</mapper>
